@import 'scss/_variable';
@import '~materialize-css/sass/materialize';
@import "~malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css";
@import "~font-awesome/scss/font-awesome.scss";
@import "~angular-loading-bar/src/loading-bar.css";
@import "~ng-table/src/styles/ng-table";
// @import "~angular-material/modules/js/dialog/dialog.css";
// @import "~angular-material/modules/js/select/select.css";
@import "./lib/angular-material/modules/scss/angular-material";
@import 'scss/angular-material/angular-material'; //overWrite angular material
@import 'scss/angular-material/RTL/angular-material.rtl'; //overWrite angular material
@import 'scss/materialize-css/materialize'; //overWrite angular material
@import 'scss/font-icon/material-design-iconic-font';
@import 'scss/ngTable/ngTable';
@import 'scss/component/component';
@import 'scss/genericClass';
@import 'scss/animate';
@import './footer/footer';
@import './header/header';
@import './logo/logo';
@import './menuTrigger/menuTrigger';
@import './sidenav/sidenav';
@import './topMenu/topMenu';
@import './fourZeroFour/fourZeroFour';
@import './login/login';
@import './loading/loading';
@import './mdFile/mdFile';
@font-face {
    font-family: 'Material-Design-Iconic-Font';
    src: url('#{$material-icon-font-path}/Material-Design-Iconic-Font.woff2?v=2.2.0') format('woff2'),
    url('#{$material-icon-font-path}/Material-Design-Iconic-Font.woff?v=2.2.0') format('woff'),
    url('#{$material-icon-font-path}/Material-Design-Iconic-Font.ttf?v=2.2.0') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('#{$iranSans-font-path}/eot/IRANSansWeb_Bold.eot');
    src: url('#{$iranSans-font-path}/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('#{$iranSans-font-path}/woff2/IRANSansWeb_Bold.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('#{$iranSans-font-path}/woff/IRANSansWeb_Bold.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('#{$iranSans-font-path}/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('#{$iranSans-font-path}/eot/IRANSansWeb_Medium.eot');
    src: url('#{$iranSans-font-path}/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('#{$iranSans-font-path}/woff2/IRANSansWeb_Medium.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('#{$iranSans-font-path}/woff/IRANSansWeb_Medium.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('#{$iranSans-font-path}/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('#{$iranSans-font-path}/eot/IRANSansWeb_Light.eot');
    src: url('#{$iranSans-font-path}/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('#{$iranSans-font-path}/woff2/IRANSansWeb_Light.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('#{$iranSans-font-path}/woff/IRANSansWeb_Light.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('#{$iranSans-font-path}/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('#{$iranSans-font-path}/eot/IRANSansWeb_UltraLight.eot');
    src: url('#{$iranSans-font-path}/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('#{$iranSans-font-path}/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('#{$iranSans-font-path}/woff/IRANSansWeb_UltraLight.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('#{$iranSans-font-path}/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('#{$iranSans-font-path}/eot/IRANSansWeb.eot');
    src: url('#{$iranSans-font-path}/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('#{$iranSans-font-path}/woff2/IRANSansWeb.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('#{$iranSans-font-path}/woff/IRANSansWeb.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('#{$iranSans-font-path}/ttf/IRANSansWeb.ttf') format('truetype');
}

.rtl {
    direction: rtl;
    font-family: IranSans, tahoma;
    textarea,h1, h2, h3, h4, h5, h6, a, span, label, input {
        font-family: IranSans, tahoma;
    }
}

.ltr {
    direction: ltr;
}

a {
    text-decoration: none;
    font-size: 13px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

*:focus {
    outline: none;
}

*[ng-click],
*[ui-sref],
*[toggle-submenu] {
    &:not(.disabled) {
        cursor: pointer;
    }
}

.container {
    width: 1170px;
    margin: 0 auto;
}

#main {
    position: relative;
    padding-bottom: 110px;
    padding-top: $header-H + 20;
}

// .sub-menu
.sub-menu {
    ul {
        padding: 0;
        margin: 0;
        display: none;
        >li {
            >a {
                color: #7f7f7f;
                padding: 8px 50px 8px 20px;
                font-weight: 500;
                display: block;
                position: relative;
                &:hover,
                &.active {
                    color: #000;
                }
            }
            &:first-child {
                >a {
                    padding-top: 16px;
                }
            }
            &.sub-menu {
                ul {
                    font-size: 12px;
                    margin: 10px 0;
                    background-color: #f7f7f7;
                }
            }
        }
    }
    >a:before {
        content: "\f067";
        transform: scale(1);
    }
    >a:before,
    >a:after {
        position: absolute;
        top: 14px;
        color: #575757;
        font-family: 'FontAwesome';
        font-size: 14px;
        left: 15px;
        transition: all;
        transition-duration: 250ms;
        backface-visibility: hidden;
    }
    &.toggled {
        >a:before {
            transform: scale(0);
        }
        >a:after {
            content: "\f068";
            transform: scale(1);
        }
    }
    &.active {
        &>ul {
            display: block;
        }
    }
}

// bage
.bage {
    position: absolute;
    font-style: normal;
    background: #f44336;
    padding: 1px 5px;
    border-radius: 2px;
    right: 7px;
    top: -3px;
    font-size: 10px;
    line-height: 15px;
}

// change auto fill google chrome
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

//  flex grid
.flex {
    display: flex;
    &.flex-row {
        flex-direction: row;
    }
    &.flex-align-center-center {
        align-items: center;
        justify-content: center;
    }
    &.flex-align-start-center {
        align-items: center;
        justify-content: flex-start;
    }
    &.flex-align-end-center {
        align-items: center;
        justify-content: flex-end;
    }
    &.flex-align-space-around-center {
        align-items: center;
        justify-content: space-around;
    }
    &.flex-align-space-between-center {
        align-items: center;
        justify-content: space-between;
    }
}

$flexItems:(5,
10,
15,
20,
25,
30,
35,
40,
45,
50,
55,
60,
65,
70,
75,
80,
85,
90,
95,
100);
@each $item in $flexItems {
    .flex-#{$item} {
        flex:#{$item}
    }
}