top-menu {
  float: left;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
      button.md-button {
        min-width: auto;
      }
    }
  }
}

.list-header {
  text-align: center;
  padding: 15px 10px 13px;
  line-height: 100%;
  text-transform: uppercase;
  border-bottom: 1px solid #F0F0F0;
  font-weight: 500;
  color: #4C4C4C;
  margin-bottom: 10px;
}

.list-footer {
  text-align: center;
  border-top: 1px solid #F0F0F0;
  margin-top: 20px;
  a {
    display: block;
    padding: 7px 10px 8px;
    line-height: 100%;
    font-size: 11px;
    color: #828282;
  }
}