<ul>
  <li>
    <a href="" drop-down>
      <i class="fa fa-bell"></i>
      <i class="bage">9</i>

    </a>
    <div class="dropdown-menu" ng-init="items = [1,2,3,4,5,6]">
      <div class="listview">
        <div class="lv-header">Notification
          <ul class="actions">
            <li><a ng-click="items = []" prevent-close><md-icon md-svg-src="img/double-check.svg" ></md-icon></a></li>
          </ul>
        </div>
        <div class="lv-body">
          <a class="lv-item animated ng-lightSpeedOut" ng-class="'ng-delay'+$index" ng-repeat="item in items" ng-href="" >
            <div class="media">
              <div class="pull-left"><img class="lv-img-sm" src="/img/user1.jpg"></div>
              <div class="media-body">
                <div class="lv-title ">David Belle</div><small class="lv-small ">Cum sociis natoque penatibus et magnis dis parturient montes</small></div>
            </div>
          </a>
        </div>
        <div class="clearfix"></div><a class="lv-footer" href="">View Previous</a></div>
    </div>
  </li>
  <li></li>
</ul>