<ul>
  <li>
    <md-menu md-offset="0 36">
      <md-button aria-label="Open demo menu" class="fa fa-bell c-white" ng-click="$mdMenu.open($event)">
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <div class="list-header">
            Notification
          </div>
        </md-menu-item>
        <md-menu-item ng-repeat="item in [1, 2, 3]">
          <md-button ng-click="ctrl.announceClick($index)">
            <div layout="row" flex>
              <p flex>Option {{item}}</p>
            </div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <div class="list-footer">
            <a href=""> View All </a>
          </div>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </li>
  <li></li>
</ul>