// font Address
$roboto-font-path:"~materialize-css/fonts/roboto/";
$fa-font-path: "~font-awesome/fonts";
$iranSans-font-path : 'commons/fonts';
$material-icon-font-path : 'commons/fonts/material-icon';
$header-H:80px;

$color : #fff;
$bgColor: green;