main-content {
  // customScrollBar
  .mCSB_inside {
    >.mCSB_container {
      margin-right: 0 !important;
    }
    .mCSB_scrollTools {
      right: -7px;
    }
  }
  
  .table-container {
    height: 500px;
  }
  div.header {
    height: 40px;
    border-bottom: 1px solid #d0d0d0;
    >span {
      padding: 10px 5px;
    }
  }
  tr.selected {
    background-color: #f2f2f2;
    td:last-child {
      position: relative;
      &:after {
        content: '\f2f6';
        font: normal normal normal 28px 'Material-Design-Iconic-Font';
        position: absolute;
        right: 11px;
        vertical-align: middle;
        top: calc(50% - 16px);
        /* bottom: 0; */
      }
    }
  }
}