<div>
    <div class="row animated ng-bounceInDown" ng-show="!$ctrl.$edit">
        <!--<div ng-switch-when="lesson" ng-form="lessonForm">-->
        <div class="col m4">
            <div>

                <input-container class="input-field">
                    <label for="">code</label>
                    <input type="text" />
                </input-container>
            </div>
            <div>
                <input-container class="input-field">
                    <label for="">name</label>
                    <input type="text" />
                </input-container>
            </div>
            <div>
                <input-container class="input-field">
                    <label for="">indexInPath</label>
                    <input type="text" />
                </input-container>
            </div>
            <div>
                <input-container class="input-field">
                    <label for="">xpValue</label>
                    <input type="text" />
                </input-container>
            </div>
        </div>

        <div class="col m4 left">
            <md-select ng-model="test" placeholder="please select" aria-label="">
                <md-option ng-value="option" ng-repeat="option in [1,2,3]">
                    {{ option }}
                </md-option>
            </md-select>
        </div>

        <!--</div>-->
    </div>
    <div class="divider m-t-20 m-b-30 grey darken-3" ng-show="!$ctrl.$edit"></div>
    <div class="row">

        <div class="col s4 ">
            <div class="flex flex-row flex-align-space-between-center title ">
                <span class="flex-20" ng-click="$ctrl.add('lesson')"><i class="zmdi zmdi-plus green-text"></i></span>
                <span class="flex-40 center-align">لیست درس ها</span>
                <span class="flex-20 left-align">
                    <i ng-if="$ctrl.$selected.lesson" class="zmdi zmdi-delete red-text text-lighten-1" ng-click="$ctrl.delete('lesson', $event)"></i>
                    <i ng-if="$ctrl.$selected.lesson" class="zmdi zmdi-edit blue-text text-lighten-1" ng-click="$ctrl.edit('lesson')"></i>
                </span>
            </div>

            <div class="flex flex-row flex-align-start-center header ">
                <span class="flex-20">#</span>
                <span class="flex-40">code</span>
                <span class="flex-40">Id</span>
            </div>

            <div class="table-container" custom-scroll-bar on-total-scroll="$ctrl.onScroll('lessons')">

                <loading ng-if="$ctrl.lessons.$loading"></loading>
                <div ng-if="$ctrl.lessons.data.length === 0" class="center-align p-t-10">
                    موردی یافت نشد
                </div>
                <table class=" highlight bordered">
                    <colgroup>
                        <col width="20%" />
                        <col width="40%" />
                        <col width="40%" />
                    </colgroup>


                    <tr ng-repeat="lesson in $ctrl.lessons.data" ng-class="[{selected:$ctrl.$selected.lesson == lesson},lesson.$class]" ng-click="$ctrl.selectLesson(lesson,$index)">
                        <td>{{$index+1}}</td>
                        <td>{{lesson.code}}</td>
                        <td>{{lesson.id}}</td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="col s4 ">
            <div class="flex flex-row flex-align-space-between-center title ">
                <span class="flex-20" ng-click="$ctrl.add('box')"><i class="zmdi zmdi-plus green-text"></i></span>
                <span class="flex-40 center-align">لیست باکس ها</span>
                <span class="flex-20 left-align">
                    <i ng-if="$ctrl.$selected.box" class="zmdi zmdi-delete red-text text-lighten-1" ng-click="$ctrl.delete('box', $event)"></i>
                    <i ng-if="$ctrl.$selected.box" class="zmdi zmdi-edit blue-text text-lighten-1" ng-click="$ctrl.edit('box')"></i>
                </span>
            </div>


            <div class="flex flex-row flex-align-start-center header ">
                <span class="flex-20">#</span>
                <span class="flex-40">code</span>
                <span class="flex-40">Id</span>
            </div>

            <div class="table-container" custom-scroll-bar on-total-scroll="$ctrl.onScroll('boxes')">
                <div ng-if="!$ctrl.$selected.lesson" class="center-align p-t-10">
                    ابتدا درس مورد نظر را انتخاب کنید
                </div>
                <loading ng-if="$ctrl.boxes.$loading"></loading>
                <div ng-if="$ctrl.boxes.data.length === 0" class="center-align p-t-10">
                    موردی یافت نشد
                </div>
                <table class=" highlight bordered">
                    <colgroup>
                        <col width="20%" />
                        <col width="40%" />
                        <col width="40%" />
                    </colgroup>

                    <tr ng-repeat="box in $ctrl.boxes.data" ng-class="[{selected:$ctrl.$selected.box == box},box.$class]" ng-click="$ctrl.selectBox(box,$index)">
                        <td>{{$index+1}}</td>
                        <td>{{box.code}}</td>
                        <td>{{box.id}}</td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="col s4">
            <div class="flex flex-row flex-align-space-between-center title ">
                <span class="flex-20" ng-click="$ctrl.add('pixel')"><i class="zmdi zmdi-plus green-text"></i></span>
                <span class="flex-40 center-align">لیست پیکسل ها</span>
                <span class="flex-20 left-align">
                    <i ng-if="$ctrl.$selected.pixel" class="zmdi zmdi-delete red-text text-lighten-1" ng-click="$ctrl.delete('pixel', $event)"></i>
                    <i ng-if="$ctrl.$selected.pixel" class="zmdi zmdi-edit blue-text text-lighten-1" ng-click="$ctrl.edit('pixel')"></i>
                </span>
            </div>


            <div class="flex flex-row flex-align-start-center header ">
                <span class="flex-20">#</span>
                <span class="flex-40">code</span>
                <span class="flex-40">Id</span>
            </div>

            <div class="table-container" custom-scroll-bar on-total-scroll="$ctrl.onScroll('pixels')">

                <div ng-if="!$ctrl.$selected.box" class="center-align p-t-10">
                    ابتدا باکس مورد نظر را انتخاب کنید
                </div>

                <loading ng-if="$ctrl.pixels.$loading"></loading>

                <div ng-if="$ctrl.pixels.data.length === 0" class="center-align p-t-10">
                    موردی یافت نشد
                </div>

                <table class=" highlight bordered">
                    <colgroup>
                        <col width="20%" />
                        <col width="40%" />
                        <col width="40%" />
                    </colgroup>
                    <tbody>

                        <tr ng-repeat="pixel in $ctrl.pixels.data" ng-class="[{selected:$ctrl.$selected.pixel == pixel},pixel.$class]" ng-click="$ctrl.selectPixel(pixel,$index)">
                            <td>{{$index+1}}</td>
                            <td>{{pixel.code}}</td>
                            <td>{{pixel.id}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>