login {
  md-input-container {
    margin: 0;
    &.md-icon-right {
      padding-right: 45px;
    }
    .md-errors-spacer {
      display: none;
    }
    md-icon {
      font-size: 2rem !important;
      width: 30px;
      height: 30px;
      top: 0;
    }
  }
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  &:before {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #00bcd4;
    content: "";
    z-index: 0;
  }
  .lc-block {
    z-index: 10;
    padding: 55px 60px 55px 110px;
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 600px;
    display: inline-block;
    position: relative;
    .md-fab {
      top: 50%;
      margin: 0;
      margin-top: -25px;
      left: -25px;
      position: absolute !important;
      display: flex;
      justify-content: center;
      align-items: center;
      md-icon {
        color: #fff;
        font-size: 1.7rem;
        transition: all;
        width: 20px;
        height: 20px;
        transition-duration: 500ms;
      }
      &:hover {
        md-icon {
          transform: rotate(360deg);
        }
      }
    }
    .checkbox {
      margin: 5px 42px 0 0;
    }
    .login-navigation {
      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute;
      width: 100%;
      text-align: center;
      left: 0%;
      bottom: -45px;
      >li {
        display: inline-block;
        margin: 0 2px;
        -webkit-transition: all;
        transition: all;
        -webkit-transition-duration: 150ms;
        transition-duration: 150ms;
        cursor: pointer;
        vertical-align: top;
        color: #fff;
        line-height: 25px;
        min-width: 25px;
        min-height: 25px;
        text-transform: uppercase;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        font-size: 0px;
        border-radius: 100%;
        &:hover {
          border-radius: 10px;
          padding: 0 8px;
          font-size: 13px;
        }
      }
    }
  }
}