<div class="lc-block" ng-switch="$ctrl.activeTab">

  <div class="login" ng-switch-when="login">

    <div class="input-group m-b-20">
      <div class="">
        <md-input-container >
          <input type="text" id="userName" ng-model="$ctrl.user.userName">
          <label for="userName">Username</label>
          <md-icon class="fa fa-user-circle"></md-icon >
        </md-input-container>
      </div>
    </div>

    <div class="input-group m-b-20">
      <div class="">
        <md-input-container >
          <input type="password" id="Password" ng-model="$ctrl.user.password">
          <label for="Password">Password</label>
          <md-icon class="fa fa-user-secret"></md-icon >
        </md-input-container>
      </div>
    </div>
    <div ng-if="$ctrl.error">
      {{$ctrl.error}}
    </div>
    <md-checkbox name="name" aria-label="label">مرا به خاطر بسپار</md-checkbox>
    <md-button ng-click="$ctrl.doLogin($ctrl.user)" aria-label="button-label " class="md-fab green">
       <md-icon class="fa fa-long-arrow-left"></md-icon >
    </md-button>
 
    <ul class="login-navigation">
      <li class="red" ng-click="$ctrl.setActiveTab('register')">ثبت نام</li>
      <li class="orange" ng-click="$ctrl.setActiveTab('resetPassword')">فراموشی رمز عبور</li>
    </ul>
  </div>

  <div class="register" ng-switch-when="register">

    <div class="input-group m-b-20">
      <div class="">
        <md-input-container >
          <input type="text" id="userName">
          <label for="userName">Username</label>
          <md-icon class="fa fa-user"></md-icon >
        </md-input-container>
      </div>
    </div>

    <div class="input-group m-b-20">
      <div class="">
        <md-input-container >
          <input type="email" id="email">
          <label for="email">Email</label>
          <md-icon class="fa fa-envelope"></md-icon >
        </md-input-container>
      </div>
    </div>

    <div class="input-group m-b-20">
      <div class="">
        <md-input-container >
          <input type="password" id="Password">
          <label for="Password">Password</label>
          <md-icon class="fa fa-lock"></md-icon >
        </md-input-container>
      </div>
    </div>

    <md-button ng-click="$ctrl.doLogin($ctrl.user)" aria-label="button-label " class="md-fab red">
       <md-icon class="fa fa-long-arrow-left"></md-icon >
    </md-button>

    <ul class="login-navigation">
      <li class="green" ng-click="$ctrl.activeTab ='login'">ورود</li>
      <li class="orange" ng-click="$ctrl.setActiveTab('resetPassword')">فراموشی رمز عبور</li>
    </ul>
  </div>

  <div class="resetPassword" ng-switch-when="resetPassword">

    <p>
      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
      و مجله در ستون و سطرآنچنان که لازم است.
    </p>

    <div class="input-group m-b-20">
      <div class="">
        <md-input-container >
          <input type="email" id="email">
          <label for="email">Email</label>
          <md-icon class="fa fa-envelope"></md-icon >
        </md-input-container>
      </div>
    </div>


    <md-button ng-click="$ctrl.doLogin($ctrl.user)" aria-label="button-label " class="md-fab orange">
       <md-icon class="fa fa-long-arrow-left"></md-icon >
    </md-button>

    <ul class="login-navigation">
      <li class="green" ng-click="$ctrl.activeTab ='login'">ورود</li>
      <li class="red" ng-click="$ctrl.setActiveTab('register')">ثبت نام</li>
    </ul>
  </div>


</div>