<div class="m-b-10">
    <a class="btn" ng-click="$ctrl.add()"> <i class="zmdi zmdi-plus right"></i> افزدن جدید</a>
</div>
<div>

    <table ng-table="$ctrl.tableParams" class="table bordered centered highlight responsive-table">
        <colgroup>
            <col width="10%" />
            <col width="20%" />
            <col width="10%" />
            <col width="10%" />
            <col width="10%" />
            <col width="10%" />
            <col width="10%" />
        </colgroup>
        <tr ng-repeat="lesson in $data" class="animated ng-lightSpeedOut ng-lightSpeedIn" ng-class="'ng-delay'+$index">
            <td title="'code'">
                <span ng-if="!lesson.$editing">
                {{lesson.code}} 
            </span>
                <div ng-if="lesson.$editing">
                    <input-container class="input-field">
                        <input type="text" id="code" ng-model="lesson.code">
                    </input-container>
                </div>
            </td>
            <td title="'Name'">
                <span ng-if="!lesson.$editing">
                {{lesson.name}}
            </span>
                <div ng-if="lesson.$editing">
                    <input-container class="input-field">
                        <input type="text" id="code" ng-model="lesson.name">
                    </input-container>
                </div>
            </td>
            <td title="'path'">
                <span ng-if="!lesson.$editing">
                {{lesson.path}}
            </span>
                <div ng-if="lesson.$editing">
                    <input-container class="input-field">
                        <input type="text" id="code" ng-model="lesson.path">
                    </input-container>
                </div>
            </td>
            <td title="'indexInPath'">
                <span ng-if="!lesson.$editing">
                {{lesson.indexInPath}}
            </span>
                <div ng-if="lesson.$editing">
                    <input-container class="input-field">
                        <input type="text" id="code" ng-model="lesson.indexInPath">
                    </input-container>
                </div>
            </td>
            <td title="'xpValue'">
                <span ng-if="!lesson.$editing">
                {{lesson.xpValue}}
            </span>
                <div ng-if="lesson.$editing">
                    <input-container class="input-field">
                        <input type="text" id="code" ng-model="lesson.xpValue">
                    </input-container>
                </div>
            </td>
            <td title="'isActive'" style="vertical-align: bottom;">
                <span ng-if="!lesson.$editing">
                <i class="zmdi zmdi-check green-text" ng-if="lesson.isActive"></i>
                <i class="zmdi zmdi-close red-text" ng-if="!lesson.isActive"></i>
            </span>
                <div ng-if="lesson.$editing" class="checkbox">
                    <input type="checkbox" class="filled-in" id="filled-in-box" ng-model="lesson.isActive"/>
                    <label for="filled-in-box"></label>
                </div>
            </td>
            <td title="'Action'" class="action">

                <button class="btn" ng-click="$ctrl.edit(lesson)" ng-if="!lesson.$editing"><i class="zmdi zmdi-edit"></i></button>

                <button class="btn" ng-click="$ctrl.save(lesson, lessonForm)" ng-if="lesson.$editing" ng-disabled="lessonForm.$pristine || lessonForm.$invalid"><i class="zmdi zmdi-check"></i></button>

                <button class="btn" ng-click="$ctrl.cancelEdit(lesson, $index)" ng-if="lesson.$editing"><span class="zmdi zmdi-close"></span></button>

                <button class="btn" ng-click="$ctrl.delete(lesson,$index,$event)" ng-if="!lesson.$editing"><span class="zmdi zmdi-delete"></span></button>

            </td>
        </tr>
    </table>
</div>